stonefly9/00original
stonefly9/01boundingboxes
stonefly9/02prepareddata
IP102/00original
IP102/01boundingboxes
IP102/02prepareddata
IP102/99other
coift/01original
coift/02processed
coift/03boundingboxes
coift/04prepareddata
valan/
